body {
  margin: 0;
}

@mixin button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid;
  cursor: pointer;
  transition: all 1s ease;
}

.button-main {
  @include button;
  background-color: #3a5696;
  color: white;
  border: #3a5696;
  &:hover {
    background-color: white;
    color: #3a5696;
  }
  &:disabled {
    background-color: lightgrey;
    border: 2px solid lightgrey;
    color: white;
  }
}

.button-secondary {
  @include button;
  background-color: white;
  color: #3a5696;
  border: white;
  min-width: 90px;
  &:hover {
    background-color: #3a5696;
    color: white;
  }
}

.button-green {
  @include button;
  color: white;
  background-color: seagreen;
  border-color: seagreen;
  &:hover {
    background-color: white;
    color: seagreen;
  }
}

hr {
  height: 1px;
}

.error-message {
  color: darkred;
}

.success-message {
  color: green;
}

.info-message {
  color: grey;
}
