.container {
  display: flex;
  flex-direction: column;
}
.grid {
  border-collapse: collapse;
  margin: 30px;
  th,
  td {
    border: 1px solid black;
    padding: 0.5em;
  }
  &__columns {
    th,
    td {
      background-color: #3a5696;
      color: white;
    }
    &__header:hover {
      background-color: #66779e !important;
      cursor: pointer;
    }
  }
  &__rows {
    th,
    td {
      background-color: white;
      color: #3a5696;
    }
  }
}

.pagination-controls-wrapper {
  display: flex;
  justify-content: center;
}

.row-container {
  align-self: center;
  margin-left: 20px;
  &__label {
    margin-right: 5px;
  }
}
